/* green color: #008566; */

/*-----------------------------------------------------------------------------------*/
/*  1. BASE
/*-----------------------------------------------------------------------------------*/

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    font-family: 'open_sansregular';
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    font-size: 15px;
    color: #333333;
    line-height: 22px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'tj-bold';
    margin-bottom: 20px;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 1;
}

h2 {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1;
}

h3 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.11111;
}

h4 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.125;
}

h5 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.125;
}

h6 {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6;
}

p {
    font-family: 'tj-reguler';
    margin: 0 0 10px;
    letter-spacing: 1px;
}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
    letter-spacing: 1px;
}

th {
    font-weight: bold;
    border-bottom: 2px solid;
    text-align: center;
}

*::-moz-selection {
    background: #000;
    color: #fff;
}

*::selection {
    background: #000;
    color: #fff;
}

button {
    background-image: none;
    background: transparent;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

blockquote {
    margin: 1.5em 0;
    padding: 0;
    border: none;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

blockquote:before {
    color: #999;
    content: "\f10d";
    font-size: 2em;
    margin-right: 0.4em;
}

blockquote p {
    font-family: 'open_sansregular';
    font-size: 20px;
    line-height: 32px;
    display: inline;
}

.bypostauthor {
    background: #ffffff;
}

.bypostauthor > .comment .comment-author cite:after {
    content: "post author";
    font-size: 14px;
    margin-left: 6px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
    margin-left: 10px;
}

.alignleft {
    float: left;
    margin-right: 10px;
}

img.aligncenter,
img.alignnone {
    margin-bottom: 12px;
    margin: 0 auto;
}

img.alignleft {
    margin: 12px 24px 12px 0;
    margin: 10px 20px 10px 0;
}

img.alignright {
    margin: 12px 0 12px 24px;
    margin: 10px 0 10px 20px;
}

pre {
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
    line-height: 1.3;
    margin: 1em 0;
}

figure, select {
    max-width: 100%;
    height: auto;
}

/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}


/*custom base*/

input {    
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 8px 10px;
    vertical-align: baseline;
    width: 82%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    padding: 15px;
}

input[type="email"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    outline: 0;
}

/*button*/

.button {
    font-family: 'tj-bold';
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

a {
    cursor: pointer;
    outline: none;
    color: #333;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:active,
a:focus {
    color: #008566;
    text-decoration: none;
    outline: none;
}

a.button-normal {
    border: 1px solid #000;
}

a.button-normal:hover {
    color: #fff;
    background-color: #008566;
    border: 1px solid #008566;
}

.button-white {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.button-white:hover {
    color: #fff;
    background-color: #008566;
    border: 1px solid #008566;
}

.button-whitea-full {
    border: 1px solid #ffffff;
}

.button-whitea-full:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}

.button-white-full {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #000;
}

.button-white-full:hover {
    color: #ffffff;
    background-color: #008566;
    border: 1px solid #008566;
}

.button-black {
    color: #000;
    border: 1px solid #000;
}

.button-black:hover {
    background-color: #008566;
    border: 1px solid #008566;
}

.button-subscribe {
    color: #fff;
    border: 1px solid #fff;
}

.button-subscribe:hover {
    color: #008566;
    background-color: #fff;
    border: 1px solid #fff;
}

.basic-button {
    padding: 40px 0 0 0;
}

.info-button {
    font-family: 'tj-bold';
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*overlay*/

.overlay {
    bottom: 0px;
    left: 0px;
    padding-top: 0px !important;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.overlay.dark {
    background: rgba(23, 25, 30, 0.6);
}

/* equal */

.equal-text {
    position: relative;
    padding: 0 100px;
}

.title-style1-block {
    max-width: 100%;
    overflow: hidden;
}
.court-block {
    max-width: 100%;
    overflow: hidden;
}
.single-court-block {
    max-width: 100%;
    overflow: hidden;
}
.the-title-section.the-title-2 {
    position: relative;
    padding: 0 100px;
}
.video-list-block {
    max-width: 100%;
    overflow: hidden;
}

.equal-text .vertical-center {
    position: relative;
}

.equal-text-album {
    position: relative;
    padding: 0 100px;
}

.equal-text-album .vertical-center {
    position: relative;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

#status {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}

/* padding */

.section-padding {
    padding: 80px 0;
}

.section-white-padding {
    padding: 80px 0;
}

.section-half-padding {
    padding: 80px 0;
}

.section-half-bottom-padding {
    padding: 40px 0 80px 0;
}

.section-half-top-padding {
    padding: 80px 0 40px 0;
}

.section-footer-padding {
    padding: 20px 0;
}

/* global */

.font-bold {
    font-family: 'tj-bold';
}

.font-reguler {
    font-family: 'tj-reguler';
}

/*-----------------------------------------------------------------------------------*/
/*  2. NAVIGATION
/*-----------------------------------------------------------------------------------*/

.site-header {
    background-color: #fff;
    position: relative;
    z-index: 100;
}

.site-header.transparent {
    background-color: rgba(34, 34, 34, 0.7);
}

.header-wrapper {
    padding: 0 2%;
}

#main-menu>ul>li>a,
#main-menu ul ul li a,
.search-bar-button,
.search-bar.show .search-bar-close,
.search-bar input {
  color: #ffffff
}

#main-menu>ul>li:hover>a,
#main-menu ul ul li a:hover,
#main-menu>ul>li.current-menu-item>a {
  color: #008566
}

/*-----------------------------------------------------------------------------------*/
/*  2a. SEARCH BAR
/*-----------------------------------------------------------------------------------*/

.search-bar-button {
    position: absolute;
    color: #000;
    top: 0;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    width: 65px;
    height: 76px;
    text-align: center;
    line-height: 82px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.search-bar-button:hover {
    background-color: #333;
}

.site-header.transparent .search-bar-button:hover {
    background-color: rgba(51, 51, 51, 0.5);
}

.search-bar,
.search-bar-wrapper {
    visibility: hidden;
    max-height: 0;
    height: 200px;
    transition: all .4s;
    -webkit-transition: all .4s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    overflow: hidden;
}

.search-bar-wrapper {
    background: #333;
    position: fixed;
    width: 100%;
    z-index: 9999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-bar.show,
.show .search-bar-wrapper {
    max-height: 300px;
    visibility: visible;
}

.search-bar.show .search-align {
    height: auto;
    margin-top: 70px;
}

.search-align {
    height: 0;
    overflow: hidden;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.search-bar form {
    position: relative;
}

.search-bar input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    opacity: 0;
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-bar.show input {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
    transition: transform .6s ease, opacity .2s ease .2s;
    -webkit-transition: transform .6s ease, opacity .2s ease .2s;
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
}

.search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    font-size: 24px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    opacity: 0;
}

.search-bar.show button {
    opacity: .5;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: transform .6s ease, opacity .2s ease .2s;
    -webkit-transition: transform .6s ease, opacity .2s ease .2s;
    transition-delay: .4s;
    -webkit-transition-delay: .4s;
}

.search-bar .search-bar-close {
    opacity: 0;
    font-size: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 200;
    color: #fff;
    cursor: pointer;
    transform: translateX(7px);
    -webkit-transform: translateX(7px);
}

.search-bar.show .search-bar-close {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: transform .6s ease, opacity .2s ease .2s;
    -webkit-transition: transform .6s ease, opacity .2s ease .2s;
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
}


/*-----------------------------------------------------------------------------------*/
/*  2b. LOGO
/*-----------------------------------------------------------------------------------*/

.site-title {
    margin: 0;
    padding: 20px 0;
}
.site-title a {
    color: #ffffff;
}
.logo-image {
    display: table-cell;
    vertical-align: middle;
}

.image-logo {
    padding-top: 10px;
    height: 60px;
}

/*-----------------------------------------------------------------------------------*/
/*  2c. MAIN NAVIGATION
/*-----------------------------------------------------------------------------------*/

.navigation {
    font-family: 'tj-bold';
    text-align: right;
    position: relative;
    z-index: 200;
}

#main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

#main-menu > ul {
    position: relative;
    display: inline-block;
    z-index: 500;
    margin-right: 20px;
}

#main-menu > ul > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

#main-menu ul li a {
    display: block;
    text-decoration: none;
}

#main-menu > ul > li > a {
    font-size: 16px;
    padding: 30px 15px;
    color: #000;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#main-menu > ul > li:hover > a {
    color: #008566;
}

#main-menu > ul > li.current-menu-item > a,
#main-menu > ul > li.current-menu-parent > a {
    color: #008566;
}

#main-menu ul ul.children,
#main-menu ul ul.child,
#main-menu ul ul.sub-menu {
    position: absolute;
    text-align: left;
    left: -9999px;
    top: 85px;
    opacity: 0;
    -webkit-transition: opacity .3s ease, top .25s ease;
    -moz-transition: opacity .3s ease, top .25s ease;
    -ms-transition: opacity .3s ease, top .25s ease;
    -o-transition: opacity .3s ease, top .25s ease;
    transition: opacity .3s ease, top .25s ease;
    z-index: 1000;
}

#main-menu ul ul ul {
    top: 37px;
    padding-left: 5px;
}

#main-menu ul ul li {
    position: relative;
}

#main-menu > ul > li:hover > ul {
    left: auto;
    top: 73px;
    opacity: 1;
}

#main-menu.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
    opacity: 1;
}

#main-menu ul ul li:hover > ul {
    left: 200px;
    top: 0px;
    opacity: 1;
    padding: 0;
    border-left: 1px solid #008566;
}

#main-menu.align-right ul ul li:hover > ul {
    left: auto;
    right: 170px;
    top: 0;
    opacity: 1;
    padding-right: 5px;
}

#main-menu ul ul li a {
    text-transform: uppercase;
    width: 200px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    background-color: #fff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

#main-menu ul ul li a:hover {
    color: #008566;
}

#main-menu.align-right ul ul li a {
    text-align: right;
}

#main-menu ul ul li:last-child > a,
#main-menu ul ul li.last > a {
    border-bottom: 0;
}

/* Mobile Menu */
.mobile-menu {
    display: none;
}
#slide-buttons {
    color: #000;
    height: 30px;
    width: 30px;
    line-height: 26px;
    border: none;
    font-size: 18px;
    padding: 0;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#slide-buttons:hover, #slide-buttons:focus, #slide-buttons.active, .c-menu__close:hover, .c-menu__close:focus, .c-menu__close.active {
    outline: 0;
}
.c-menu {
    position: fixed;
    z-index: 200;
    padding: 30px;
    background-color: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.c-menu--slide-right {
    height: 100%;
}
.c-menu--slide-right {
    width: 350px;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.c-menu--slide-right.is-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.c-menu__close {
    color: #ffffff;
    border: none;
    margin-left: 160px;
    font-size: 20px !important;
}
.logo-menu .logo-image {
    padding: 20px 0;
}
.c-menu--slide-right > ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.c-menu--slide-right > ul li {
    position: relative;
    display: block;
    border-bottom: 1px solid #222222;
    padding: 10px 0;
    cursor: pointer;
}
.c-menu--slide-right > ul li.menu-item-has-children:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    position: absolute;
    content: "\f107";
    top: 0px;
    right: 0;
    width: 34px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-left: 1px solid #222222;
    color: #ffffff;
}
.c-menu--slide-right > ul > li > ul.sub-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding-left: 15px;
}
.c-menu--slide-right > ul > li > ul.sub-menu li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.c-menu--slide-right > ul > li.menu-selected > ul.sub-menu {
    max-height: 100%;
    padding-top: 10px;
}
.c-menu--slide-right ul li a {
    font-family: 'tj-bold';
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
}
.c-menu--slide-right ul li a:hover {
    color: #008566;
}
.slide-overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
}
.slide-overlay.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

/*-----------------------------------------------------------------------------------*/
/*  3. HEADER 
/*-----------------------------------------------------------------------------------*/

.header-title h2,
.header-title .desc,
.header-title .desc p {
    font-family: 'tj-bold';
    line-height: 1.2em;
    text-align: right;
    color: #ffffff;
}

.header-section {
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-title {
    text-align: right;
}

.header-button {
    text-align: right;
}

/*-----------------------------------------------------------------------------------*/
/*  4. JOURNAL
/*-----------------------------------------------------------------------------------*/

.blog_post_preview article {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.blog_post_preview article .article-image {
    position: relative;
}

.blog_post_preview article .article-image img {
    display: block;
}

.blog_post_preview article .article-image .article-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #000 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.blog_post_preview article .article-text {
    position: relative;
    z-index: 1;
}

.blog_post_preview article .article-text--inner {
    padding: 0 30px 30px;
    margin-top: -45px;
}

.blog_post_preview article .article-text--inner h3 {
    color: inherit;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 23px;
    padding: 0;
}

.blog_post_preview article .article-text--inner blockquote {
    color: inherit;
    font-size: 20px;
    font-weight: 700;
    
    line-height: 24px;
    margin: 0 0 25px;
    padding: 0 0 25px;
    position: relative;
    font-style: initial;
    opacity: 0;
}

.blog_post_preview article .article-text--inner blockquote::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 3px;
    background: #ffffff;
}

.blog_post_preview article .article-text--inner blockquote.typed {
    opacity: 1;
}

.blog_post_preview article .article-text--inner blockquote span {
    transition: opacity 100ms;
}

.blog_post_preview article .article-text--inner blockquote span.hidden-character {
    opacity: 0;
}

.article-text {
    color: #000;
}

.article-title-text {
    padding-right: 5px;
    padding-left: 5px;
}

.article-title-desc-span {
    font-family: 'tj-bold';
    background-color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.5;
    padding-right: 5px;
    padding-left: 5px;
}

.article-button {
    padding-right: 5px;
    padding-left: 5px;
}

/*-----------------------------------------------------------------------------------*/
/*  5. COURT
/*-----------------------------------------------------------------------------------*/

.latest-court-section {
    padding: 80px 0;
}

.court-section .court-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
}

.court-title {
    font-size: 5rem;
    color: #fff;
}

.court-button {
    text-align: right;
    padding-right: 20px;
}

.court-image-wrap {
    background-color: #fff;
}

.court-image {
    position: relative;
    overflow: hidden;
    padding: 20px 20px 10px 20px;
}

.court-image img {
    width: 100%;
}

.the-court:hover .social-links {
    left: 0px;
}

.court-image .social-links ul {
    list-style: none;
    padding: 10px;
}

.court-image .social-links li {
    margin: 10px 0;
}

.court-image .social-links li a {
    color: #ffffff;
}

.court-section .the-court .court-detail {
    padding: 10px 20px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 15px solid #ebebeb;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.the-court:hover .court-detail {
    border-bottom-color: #008566;
}

.court-name {
    font-size: 1.5em;
}

.court-detail{
    background-color: #fff;
}

.court-detail .court-name {
    background-color: #fff;
    color: #000;
    margin: 0;
}

.court-position {
    font-family: 'tj-bold';
    color: #000;
}

/*-----------------------------------------------------------------------------------*/
/*  6. COMMUNITY
/*-----------------------------------------------------------------------------------*/

.latest-community-section {
    padding: 80px 0;
}

.community_post_preview article {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.community_post_preview article .article-image {
    position: relative;
}

.community_post_preview article .article-image img {
    display: block;
}

.community_post_preview article .article-image .article-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #000 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.community_post_preview article .article-text {
    position: relative;
    z-index: 1;
}

.community_post_preview article .article-text--inner {
    padding: 0 40px 40px;
    margin-top: -45px;
}

.community_post_preview article .article-text--inner h3 {
    color: inherit;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 23px;
    padding: 0;
}

.community_post_preview article .article-text--inner blockquote {
    color: inherit;
    font-size: 20px;
    font-weight: 700;
    
    line-height: 24px;
    margin: 0 0 25px;
    padding: 0 0 25px;
    position: relative;
    font-style: initial;
    opacity: 0;
}

.community_post_preview article .article-text--inner blockquote::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 3px;
    background: #ffffff;
}

.community_post_preview article .article-text--inner blockquote.typed {
    opacity: 1;
}

.community_post_preview article .article-text--inner blockquote span {
    transition: opacity 100ms;
}

.community_post_preview article .article-text--inner blockquote span.hidden-character {
    opacity: 0;
}

.article-text {
    color: #000;
}

.journal-title-desc-span {
    font-family: 'tj-bold';
    background-color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1.5;
    padding-right: 5px;
}

/* .community-text-inner {
    padding: 0;
    margin-top: 0;
    text-align: right;
}

.community-title-text {
    font-size: 1.2em;
}

.community-title-desc {
    font-size: 2rem;
}

.community-title-desc-span {
    background-color: #fff;
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 1.5;
    padding-right: 5px;
}

.community_post_preview {
    padding: 80px 0;
}

.community_post_preview article .article-image {
    width: 65%;
}

.community_post_preview article .article-image .article-gradient {
    display: none;
}

.community_post_preview article .article-text--inner blockquote > span {
    margin-left: 200px;
    display: inline-block;
}

.community_post_preview article {
    flex-direction: row;
    padding-left: calc(10vw * 1.5);
    padding-right: calc(10vw * 1.5);
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.community_post_preview article .article-image {
    position: relative;
    width: 60%;
}

.community_post_preview article .article-image .article-gradient {
    display: none;
}

.community_post_preview article .article-text {
    margin: -250px;
    position: relative;
    z-index: 1;
}

.community-section .community-wrap {
    margin-top: 40px;
}

.community-title {
    font-size: 5rem;
}

.endorse-section {
    padding: 40px 0;
}

.endorse-section .endorse-item img {
    margin: 0 auto;
    width: 70%;
}

.endorse-section .owl-prev {
    position: absolute;
    left: -50px;
    top: 30%!important;
}

.endorse-section .owl-next {
    position: absolute;
    right: -50px;
    top: 30%!important
}

.endorse-section .owl-theme .owl-controls {
    margin-top: 0;
}

.endorse-section .owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #333333;
    background-color: transparent;
    font-size: 58px;
    margin: 0;
    padding: 0;
    top: 5px;
}

.endorse-section .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    opacity: 0.7;
} */

/*-----------------------------------------------------------------------------------*/
/*  11. FOOTER
/*-----------------------------------------------------------------------------------*/

.site-footer {
    background-color: #008566;
    padding: 80px 0;
}

/*-----------------------------------------------------------------------------------*/
/*  11a. Widget Footer
/*-----------------------------------------------------------------------------------*/

.widget-footer p {
    color: #fff;
}

.footer-title {
    font-size: 2em;
    color: #fff;
}

.widget-footer label {
    color: #ffffff;
}

/* Newsletter */

.widget-footer input {
    font-family: 'tj-bold';
    color: #333333;
}

.widget-footer input[type="submit"] {
    font-family: 'loveloblack';
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: transparent;
    border: 1px solid #ffffff;
    width: auto;
    height: auto;
    color: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.widget-footer input[type="submit"]:hover {
    background-color: #008566;
    border: 1px solid #008566;
    color: #ffffff;
}


/*-----------------------------------------------------------------------------------*/
/*  11. COPYRIGHT
/*-----------------------------------------------------------------------------------*/

#copyright {
    background-color: #fff;
    padding: 20px 80px;
}

.copyright-text {
    padding-top: 5px;
    float: left;
}

.copyright-text p {
    margin: 0;
    color: #000;
}

.copyright-text a {
    color: #ffffff;
}

.copyright-font {
    font-family: 'tj-bold';
}

/* social footer */
.footer-social {
    float: right;
}

.footer-social ul {
    padding: 0;
    list-style: none;
}
.footer-social ul li {
    display: inline-block;
}
.footer-social ul li a {
    color: #000;
    margin-right: 10px;
}

.soc-icon {
    font-size: 1.5em;
    padding: 0 10px;
}

.soc-icon:hover {
    color: #008566;
}

.test {
    display: none;
}

.court-block .court-wrap {
    margin-top: 0;
}
.event-block .event {
    margin-top: 0;
}
.post-list-block {
    max-width: 100%;
    overflow: hidden;
}

.single-court-block .the-court:last-child {
    margin-bottom: 0;
}

.post-list-block {
    padding: 0;
}

.post-list-block .post-list {
    margin-top: 0;
}