@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1199px
2. 991px
3. 767
4. 479px

******************************/

/************
1. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.project_name h1
	{
		font-size: 48px;
	}
	.text_columns
	{
		column-gap: 30px;
	}
	.image_center
	{
		margin-top: 62px;
	}
	.project_text
	{
	    padding-top: 62px;
	    padding-bottom: 72px;
	}
	.text_section_title
	{
		margin-bottom: 15px;
	}
	#typography
	{
		
	}
}

/************
2. 991px
************/

@media only screen and (max-width: 991px)
{
	.fs_menu_overlay
	{
		display: block;
	}
	.fs_menu_overlay.active
	{
		display: block;
		width: 100%;
		left: 0;
	}
	.fs_menu_left.active
	{
		width: 280px;
	}
	.home_nav
	{
		display: none;
	}
	.hamburger_container_outer
	{
		display: block;
	}
	.square_1, .square_2
	{
		display: none;
	}
	.project_type
	{
		margin-top: 25px;
	}
	.project_description
	{
		margin-top: 25px;
	}
	.gallery_light_item
	{
		height: calc(100vw / 1.777777777777778);
	}
	.image_side_item
	{
		margin-bottom: 15px;
	}
	.color_container
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	#footer
	{
		margin-top: 0px;
	}
}

/************
3. 767px
************/

@media only screen and (max-width: 767px)
{
	p{font-size: 14px;}
	h1{font-size: 36px;}
	h2{font-size: 32px;}
	h3{font-size: 24px;}
	h4{font-size: 16px;}
	h5{font-size: 16px;}
	h6{font-size: 14px;}
	.fs_menu_left.active
	{
		width: 140px;
	}
	.logo_container
	{
		left: 30px;
	}
	.fs_nav ul li a
	{
		font-weight: 900;
		font-size: 32px;
		line-height: 36px;
		letter-spacing: 2px;
	}
	.button_line
	{
		margin-left: 10px;
	}
	.button_line a
	{
		font-size: 12px;
		font-weight: 700;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.button_line a i
	{
		font-size: 22px;
		margin-bottom: 3px;
		margin-left: 40px;
	}
	.button_line a:after
	{
		left: -10px;
		bottom: 0px;
		width: calc(100% + 12px);
	}
	.button_line a:before
	{
		left: -10px;
		top: 5px;
		width: 0%;
		height: 37px;
	}
	.button_line a:hover
	{
		color: #FFFFFF;
		padding-left: 15px;
	}
	.button_line a:hover::after
	{
		bottom: 6px;
	}
	.about_link_button
	{
		margin-top: 25px;
	}
	.nav_item a
	{
		height: 56px;
	}
	.nav_image
	{
		width: 10px;
	}
	.nav_text_left
	{
		padding-left: 15px;
	}
	.nav_text_right
	{
		padding-right: 15px;
	}
	.nav_item:hover .nav_image
	{
		width: 100px;
	}
	.nav_image i
	{
		font-size: 36px;
	}
	.nav_text p
	{
		font-size: 8px;
		letter-spacing: 1px;
		margin-bottom: 3px;
	}
	.nav_text h5
	{
		font-size: 14px;
		margin-top: 5px;
	}
	#project
	{
		padding-top: 220px;
	}
	.project_name h1
	{
		font-size: 36px;
	}
	.client_name h3
	{
		font-size: 18px;
		margin-top: 51px;
	}
	.designers ul li
	{
		font-size: 14px;
	}
	.project_type ul li
	{
		font-size: 14px;
		margin-bottom: 4px;
	}
	.image_center
	{
		margin-top: 43px;
	}
	.project_text
	{
		padding-top: 55px;
		padding-bottom: 74px;
	}
	#typography
	{
		padding-top: 80px;
		padding-bottom: 100px;
	}
	.typo_2
	{
		margin-top: 25px;
	}
	.typo h2
	{
		font-size: 24px;
		letter-spacing: 15px;
		text-indent: 15px;
	}
	.typo h3
	{
		font-size: 22px;
		margin-bottom: 12px;
	}
	.typo p
	{
		font-size: 20px;
	}
	.color_box
	{
		width: 100px;
		height: 100px;
	}
	.color_text h5
	{
		font-size: 12px;
		margin-top: 15px;
	}
	.color_text p
	{
		font-size: 13px;
	}
	.text_columns
	{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
		-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 0px; /* Firefox */
	    column-gap: 0px;
	}
	.color_container
	{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.footer_social
	{
		top: -35px;
	}
	.footer_social ul li a
	{
		width: 70px;
		height: 70px;
		font-size: 32px;
	}
	.footer_content
	{
		padding-top: 200px;
		margin-bottom: 30px;
		margin-right: 5px;
	}
	.footer_logo_container .logo_container .logo
	{
		font-size: 24px;
	}
	.footer_logo_container .logo_container .logo_a
	{
		margin-bottom: 3px;
	}
	.footer_copy
	{
		width: 250px;
		font-size: 12px;
		font-weight: 300;
		overflow: hidden;
		margin-right: 20px;
	}
	.footer_copy div:first-child
	{
		margin-bottom: 12px;
	}
	.footer_copy div:first-child::after
	{
		top: 10px;
		right: -43px;
	}
}

/************
4. 479px
************/

@media only screen and (max-width: 479px)
{
	p{font-size: 13px; line-height: 1.6;}
	h1{font-size: 24px;}
	h2{font-size: 24px;}
	h3{font-size: 20px;}
	h4{font-size: 16px;}
	h5{font-size: 16px;}
	h6{font-size: 14px;}
	.fs_nav
	{
		position: absolute;
		top: 70px;
		right: -90px;
	}
	.fs_menu_left.active
	{
		width: 70px;
	}
	.fs_nav ul li a
	{
		font-weight: 900;
		font-size: 24px;
		line-height: 26px;
		letter-spacing: 2px;
	}
	.fs_menu_social
	{
		top: 72px;
	}
	.fs_menu_social li
	{
		margin-bottom: 20px;
	}
	.fs_menu_social li a i
	{
		font-size: 18px;
	}
	.fs_menu_logo
	{
		bottom: 70px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 5px;
	}
	.fs_menu_right
	{
		width: 20px;
	}
	.logo_container
	{
		left: 15px;
	}

	/* 480 hamburger */
	.hamburger_container
	{
		right: 11px;
		width: 30px;
		height: 30px;
	}
	.hamburger
	{
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	.hamburger.active div:first-child
	{
		transform: translateY(5px) rotate(45deg);
	}
	.hamburger.active div:last-child
	{
		transform: translateY(-5px) rotate(-45deg);
	}
	.hamburger div
	{
		position: absolute;
		left: 5px;
		width: 20px;
		height: 2px;
		background: #313131;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		transform-origin: center;
	}
	.hamburger div:first-child
	{
		top: 9px;
	}
	.hamburger div:last-child
	{
		bottom: 9px;
	}
	.button_a
	{
		font-size: 10px;
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		border: solid 1px #717a85;
		border-radius: 30px;
		font-weight: 900;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #313131;
		cursor: pointer;
		background: transparent;
	}
	.button_b
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 10px;
		letter-spacing: 1px;
	}
	.button_line
	{
		margin-left: 10px;
	}
	.button_line a
	{
		font-size: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.button_line a i
	{
		font-size: 22px;
		margin-bottom: 3px;
		margin-left: 40px;
	}
	.button_line a:after
	{
		left: -10px;
		bottom: 5px;
		width: calc(100% + 12px);
	}
	.button_line a:before
	{
		top: 3px;
		height: 33px;
	}
	.button_line a:hover::after
	{
		bottom: 6px;
	}
	.logo
	{
		font-size: 16px;
		line-height: 16px;
	}
	.logo_a
	{
		letter-spacing: 8px;
	}
	.logo_b
	{
		letter-spacing: 12px;
		color: #b22020;
	}
	.button_line_1
	{
		margin-top: 10px;
	}
	.nav_item:hover .nav_image
	{
		width: 56px;
	}
	.project_text
	{
		padding-top: 45px;
		padding-bottom: 53px;
	}
	.project_name h1
	{
		font-size: 26px;
	}
	.client_name h3
	{
		font-size: 14px;
	    margin-top: 45px;
	}
	.designers ul li
	{
		font-size: 13px;
	}
	.project_type ul li
	{
		font-size: 13px;
		margin-bottom: 3px;
	}
	#project
	{
		padding-top: 160px;
	}
	#typography
	{
		padding-top: 48px;
		padding-bottom: 67px;
	}
	.typo_1
	{
		margin-top: 30px;
	}
	.typo_2
	{
		margin-top: 20px;
	}
	.typo h2
	{
		font-size: 18px;
		letter-spacing: 10px;
		text-indent: 10px;
	}
	.typo h3
	{
		font-size: 17px;
		margin-bottom: 8px;
	}
	.typo p
	{
		font-size: 13px;
		letter-spacing: 2px;
		margin-bottom: -3px;
	}
	#color
	{
		padding-top: 56px;
		padding-bottom: 54px;
	}
	.color_container
	{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 35px;
	}
	.color_box
	{
		width: 75px;
		height: 75px;
	}
	.color_text h5
	{
		display: none;
	}
	.color_text p
	{
		margin-top: 4px;
	}
	#project_nav
	{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.nav_text h5
	{
		font-size: 12px;
	}
	.nav_text p
	{
		display: none;
	}
	.footer_social
	{
		top: -30px;
	}
	.footer_social ul li
	{
		margin-right: 8px;
	}
	.footer_social ul li:last-child
	{
		margin-right: 0px;
	}
	.footer_social ul li a
	{
		width: 60px;
		height: 60px;
		font-size: 24px;
	}
	.footer_logo_container .logo_container .logo
	{
		font-size: 20px;
		line-height: 22px;
	}
	.footer_logo_container .logo_container .logo_a
	{
		margin-bottom: 0px;
	}
	.footer_logo_container .logo_container .logo_b
	{
		letter-spacing: 13px;
	}
	.footer_copy
	{
		width: 200px;
		font-size: 10px;
		font-weight: 300;
		margin-right: 10px;
	}
	.footer_copy div:first-child
	{
		margin-bottom: 10px;
	}
	.footer_copy div:first-child::after
	{
		top: 6px;
		right: -32px;
		height: 1px;
	}
}